body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#canvas {
    display: none;
}

h1 {
    position: absolute;
    font-size: 60px;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    padding: 15px;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: #fff;
    border: 5px solid #fff;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-0%, 100%);    
}

button {
    display: inline-block;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#endScreen {
    display: none;
}

#highScore {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20%);
}

#highScoreList {
    position: relative;
    color: white;
    font-size: 28px;
    line-height: 40px;
    list-style: none;
    left: 50%;
    top: 50%;
    transform: translate(-25%, 100%);
}

#playerName {
    position: relative;
    font-size: 20px;
    background-color: gray;
    color: white;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 400%);
}

::placeholder {
    color: black;
}