body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#canvas {
    display: none;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-align: center;
    color: #fff;
    border: 5px solid #fff;
    padding: 15px;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: #fff;
    border: 5px solid #fff;
    padding: 15px;
}

#startScreen {
    display: flex;
    flex-direction: column;
}

.btns {
    display: flex;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startBtn  {
    padding: 13px;
    margin: 30px;
    background: black;
    color: white;
    border: 3px solid #fff;
}

.howToPlayBtn {
    padding: 13px;
    margin: 30px;
    background: black;
    color: white;
    border: 3px solid #fff;
}

.highscoreBtn {
    padding: 13px;
    margin: 30px;
    background: black;
    color: white;
    border: 3px solid #fff;
}

.startAgainBtn {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit {
    border: none;
}

#endScreen {
    display: none;
    flex-direction: column;
}

#highScore {
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#winScreen {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 343px;
    left: 343px;
    top: 30%;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 15px;
}

#howToPlay {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 25px;
    line-height: 45px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;        
}

.instructions {
    display: flex;
    flex-direction: column;
}

.highScoreList {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    color: white;
    font-size: 28px;
    list-style: none;
}

.playerName {
    font-size: 20px;
    background-color: gray;
    color: white;
}

::placeholder {
    color: black;
}