body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#canvas {
    display: none;
}

#title {
    position: absolute;
    font-size: 60px;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    padding: 10px;
}

#startBtn {
    display: inline-block;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#endScreen {
    display: none;
}

#highScore {
    position: relative;
    transform: translate(0, 100px);
}

#playerName {
    position: relative;
    font-size: 20px;
    background-color: gray;
    color: white;
    left: 50%;
    transform: translate(-50%, 140px);
}

::placeholder {
    color: black;
}